<!DOCTYPE html>
<html lang="nn">
<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Site.Title }}</title>
  <!-- <link rel="stylesheet" href="/css/style.css" /> -->
  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
</head>
<body>

  <main class="bg-gray-100">

    <div class=" bg-slate-900/90 text-white">
        <!-- her kan du justere bredde på header feks for å få teksten lenger ut -->
        <div class="container mx-auto p-8 max-w-5xl ">
            <!-- desse rammene over forblir i baseof -->


            <!-- partial header på sikt -->
            {{  partial "header.html" . }}



        </div>
    </div>
    
<!--prøv å sette en border på sida-->
    <div class=" shadow-lg rounded-lg">
    
        {{ block "main" . }}
        
        {{ end }}


    </div>


      <footer class="bg-gray-900 text-white">
          <div class="container mx-auto px-4 py-8 max-w-7xl">
              <!-- This stays in baseof -->

              {{ partial "footer.html" . }}
          </div>
      </footer>


  </main>

  <script src="/js/gallery.js"></script>
  <script src="/js/instagram-feed.js"></script>
</body>
</html>
