<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
    <!-- Contact Info -->
    <div class="px-16">
        <h2 class="text-xl font-semibold mb-4">{{ i18n "contact"}}</h2>
        <ul class="space-y-2">
            <li>
                {{ i18n "email" }}: <a href="mailto:jujitsu.sogndal@gmail.com" class="underline">jujitsu.sogndal@gmail.com</a>
            </li>
            <li>
                {{ i18n "phone" }}: 46 81 14 70
            </li>
            <li>
                Instagram: <a href="https://instagram.com/jujitsusogndal" class="underline">@jujitsusogndal</a>
            </li>
            <li>
                Facebook: <a href="https://www.facebook.com/profile.php?id=100066888734517" class="underline">facebook.com</a>
            </li>
        </ul>
    </div>

            <!-- Address -->
    <div class="px-16">
        <h2 class="text-xl font-semibold mb-4">{{ i18n "address" }}</h2>
        <p>
            Trudvang Skule c/o Ju Jitsu Sogndal<br>
            Skulevegen 5<br>
            6856 Sogndal
        </p>
    </div>

</div>

<!-- Bottom section: copyright -->
<div class="text-center text-sm border-t border-gray-500 pt-4">
    {{ i18n "copyright" (dict "Year" (now.Format "2006")) }}
</div>
