<div class="flex items-center justify-between flex-wrap gap-2">
    <div class="flex items-center space-x-4">
        {{ with .Params.logo }}
        <a href="{{ site.Home.Permalink }}">
            <img src="{{ . | absURL }}" alt="{{ $.Title }}" class="h-14 w-auto">
        </a>
        {{ end }}
        <h2 class="text-3xl font-semibold">
            <a href="{{ site.Home.Permalink }}">{{ $.Title }}</a>
        </h2>
    </div>

    <div class="flex gap-2">
        {{ with .Translations }}
        {{ range . }}
        <a href="{{ .Permalink }}" class="hover:underline text-lg">
            <div class="inline-flex items-center">
                {{ partial (print "flags/" .Lang ".svg") . }}
                <label class="block pl-2 cursor-pointer">{{.Language.LanguageName }}</label>
            </div>
        </a>
        {{ end }}
        {{ end }}
    </div>
</div>