<div class="flex items-center justify-between flex-wrap gap-2">
    <h2 class="text-3xl font-semibold">{{.Site.Title}}</h2>

    <div class="flex gap-2">
        {{ with .Translations }}
        {{ range . }}
        <a href="{{ .Permalink }}" class="hover:underline text-lg">
            <div class="inline-flex items-center">
                {{ partial (print "flags/" .Lang ".svg") . }}
                <label class="block pl-2 cursor-pointer">{{.Language.LanguageName }}</label>
            </div>
        </a>
        {{ end }}
        {{ end }}
    </div>
</div>